*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#c4dacd;
}

.container{
    width:800px;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:10px;
}

h1{
    text-align:center;
    color:#243852;
    margin-bottom:10px;
}

input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    padding:10px 20px;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    margin-right:10px;
}

.entrada{
    background:green ;
}

.saida{
    background:red;
}

table{
    width:100%;
    margin-top:25px;
    border-collapse:collapse;
}

th{
    background:#1c437c;
    color:white;
}

th,td{
    border:1px solid #ccc;
    padding:10px;
    text-align:center;
}

.logo{
    display:block;
    width:120px;
    margin:20px auto;
}